/* Start Variable */
:root {
  --main-color: #ffc107;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Start Header */
header {
  background-image: url(../img/header.png);
  background-size: cover;
  height: 100vh;
  padding-top: 1px;
  position: relative;
  color: #fff;
}
@media (max-width: 991px) {
  header {
    height: 170vh;
  }
}
@media (max-width: 440px) {
  header {
    height: 200vh;
  }
}
header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
header .centering-vh {
  margin-top: 25vh;
}
header .container {
  position: relative;
}
header h1 {
  font-weight: bold;
  font-size: 60px;
}
header h1 span {
  font-weight: normal;
  color: var(--main-color);
}
header .lead {
  font-size: 30px;
}
header .lead:after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background: #fff;
  margin: 24px 0;
}
header form {
  width: 360px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
}
@media (max-width: 991px) {
  header form {
    width: 100%;
    margin: 40px auto;
  }
}
header form .h1 {
  color: #333;
  background: #f5f5f5;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  margin: 0 0 30px;
}
header form .h1 span {
  color: var(--main-color);
}
header form .form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 80%;
  margin: 0 auto 40px;
}
header form .form-control:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem var(--main-color);
}
header form input[type="submit"] {
  background: var(--main-color);
  padding: 10px;
  border-radius: 0;
}
/* End Header */

/* Start Media */
.media {
  padding: 10px 0;
  background: #fff;
  box-shadow: -3px -2px 10px #000;
}
.media h4 {
  font-weight: bold;
  margin-bottom: 5px;
}
.media p {
  color: #a1a1a1;
  line-height: 1.4;
}
.media i {
  margin: 30px 15px;
  color: #ccc;
  transition: all 0.5s ease-in-out;
}
.media .fa-facebook-f:hover {
  color: #3b5998;
}
.media .fa-twitter:hover {
  color: #1da1f2;
}
.media .fa-google-plus-g:hover {
  color: #bd081c;
}
.media .fa-pinterest:hover {
  color: #eb4924;
}
.media .fa-instagram:hover {
  color: #5851db;
}
.media .fa-stumbleupon:hover {
  color: #f26522;
}
/* End Media */

/* Start Tabs */
.tabs {
  padding: 100px 0;
  background-color: #f5f5f5;
}
.tabs .tab-switch li {
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #fff;
  height: 110px;
  line-height: 110px;
  font-size: 20px;
  cursor: pointer;
}
.tabs .tab-switch .active,
.tabs .tab-switch li:hover {
  background-color: var(--main-color);
}
/* End Tabs */

/* Start sublist */
.icon {
  border: 2px solid var(--main-color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sublist i:hover,
.about .icon:hover {
  background-color: var(--main-color);
  color: #fff !important;
  cursor: pointer;
}
/* End sublist */

/* Start about */
.about .icon {
  width: 70px;
  height: 70px;
  font-size: 30px;
}
/* End about */

/* Start Pricing */
.pricing .box-one,
.pricing .box-two {
  margin-top: 35px;
}
.option {
  background-color: #333;
}
/* End Pricing */

/* Start testimonials */
.testimonials .box {
  background-color: #f5f5f5;
  position: relative;
}
.testimonials .box::after {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: #f5f5f5 transparent transparent transparent;
  position: absolute;
  left: 20px;
  bottom: -20px;
}
.testimonials span {
  margin-left: 20px;
}
.testimonials .span {
  display: block;
  margin-left: 20px;
  margin-top: 10px;
}
/* End testimonials */

/* Start stylish */
.stylish {
  background-image: url(../img/stylish.png);
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
}
.stylish::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.stylish .container {
  position: relative;
}
.stylish .head-new::after {
  content: "";
  background-color: #fff !important;
}
/* End stylish */

/* Start Contact us */
.contact-us form input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  border-radius: 0;
  outline: none;
}

.contact-us div input:focus {
  box-shadow: -1px 1px 5px #ffc107;
}
.contact-us div textarea {
  width: 100%;
  height: 245px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px;
  outline: none;
  resize: none;
  border-radius: 0;
}
.contact-us div textarea:focus {
  box-shadow: -1px 1px 5px #ffc107;
}
/* Footer  */
footer {
  background: #000;
  font-size: 20px;
}
/* End Contact us */

/* Start Componant */
.sublist,
.stander,
.about,
.pricing,
.testimonials,
.stylish,
.contact-us {
  padding: 60px 0;
}
.uppercase {
  text-transform: uppercase;
}
.head-border::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--main-color);
  display: block;
  margin: 20px 0;
}
.head-new::after {
  margin: 20px auto;
}
/* End Componant */
